IO_LOC "CLK" 52;
IO_PORT "CLK" PULL_MODE=UP;
IO_LOC "LED[0]" 10;
IO_LOC "LED[1]" 11;
IO_LOC "LED[2]" 13;
IO_LOC "LED[3]" 14;
IO_LOC "LED[4]" 15;
IO_LOC "LED[5]" 16;
IO_LOC "RST_N" 3;

IO_LOC "rs232_SOUT" 17;
IO_PORT "rs232_SOUT" IO_TYPE=LVCMOS33;
IO_LOC "rs232_SIN" 18;
IO_PORT "rs232_SIN" IO_TYPE=LVCMOS33;

IO_LOC "TXP" 25;
IO_PORT "TXP" IO_TYPE=LVCMOS33;
IO_LOC "TXN" 26;
IO_PORT "TXN" IO_TYPE=LVCMOS33;

IO_LOC "RXP_N" 27;
IO_PORT "RXP_N" IO_TYPE=LVCMOS33;
IO_LOC "RXN_N" 28;
IO_PORT "RXN_N" IO_TYPE=LVCMOS33;

IO_LOC "DBG1" 48;
IO_PORT "DBG1" IO_TYPE=LVCMOS33;
IO_LOC "DBG2" 49;
IO_PORT "DBG2" IO_TYPE=LVCMOS33;
